@use '../../style/partials/colors.scss' as *;
@use '../../style/partials/fonts.scss' as *;

.button {
    display: flex;
    align-items: center;
    @include button-text;
    background-color: $primaryLinkColor;
    padding: 0.5rem;
    border-radius: .25rem;
    border: none;
    &__text {
        margin: 0 auto;
    }
}
.button:hover {
    background-color: $hoverStateColor;
}
@media (min-width: 48rem) {
    .button {
        padding: 1rem;
        height: 3rem;
        width: 9.375rem;
    }
}

