@use '../../../style/partials/colors.scss' as *;
@use '../../../style/partials/fonts.scss' as *;

.videoDescription {
    padding: 1rem;
    &__title {
        @include page-header;
        margin: 1rem 0;
    }
    &__stats {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid $dividerColor;
        border-top: 2px solid $dividerColor;
        padding: 0.5rem 0;
    }
    &__channel, &__date, &__likes-views {
        width: 50%;
        margin: 0.5rem 0;
    }
    &__channel {
        @include subheader;
    }
    &__likes-views {
        display:flex;
        gap: 1rem;
        @include label-text;
        font-weight: 400;
    }
    &__icon {
        width: auto;
        height: 1rem;
    }
    &__date {
        @include label-text;
        font-weight: 400;
    }
    &__description {
        padding: 1rem 0;
        @include body-text;
    }
}
@media (min-width: 48rem) {
    .videoDescription {
        padding: 2rem;
        &__title {
            @include page-header-big;
        }
        &__stats {
            flex-wrap: nowrap;
            gap: 2rem;
            border-top: none;
            padding-right: 2rem;
        }
        &__channel {
            order: -2;
            width:fit-content;
            @include subheader-big;
        }
        &__date {
            order: -1;
            width:fit-content;
            margin-right: auto;
        }
        &__likes-views {
            width: fit-content;
        }
        &__description {
            @include body-text;
            padding: 2rem 2rem 1rem 0;
        }
        
    }
}

@media (min-width: 80rem) {
    .videoDescription {
        padding: 1rem 0 1rem 1rem;
    }
}