@use '../../../style/partials/colors.scss' as *;
@use '../../../style/partials/fonts.scss' as *;

.comments {
    padding: 0 1rem 1rem;
    &__form-container {
        display: flex;
        padding: 1rem 0;
        gap: 1rem;
    }
    &__form-container .avo-container {
        margin-top: 1.5rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 85%;
        margin-left: auto;
    }
    &__container {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $dividerColor;
    }
    &__article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid $dividerColor;
        padding: 1rem 0;
    }
    &__comment {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
    }
    &__name {
        margin: 0.5rem;
        font-weight: 600;
    }
    &__date {
        margin: 0.5rem 0 0.5rem auto;
        text-align: center;
        @include label-text;
    }
    &__text {
        width: 100%;
        margin: 0.5rem;
    }
    &__comment-text {
        padding: .75rem;
        border-radius: .25rem;
        border: .0625rem solid $dividerColor;
        background-color: $formBackgroundColor;
        margin: .25rem 0 1.25rem;
        resize: none;
    }
    &__comment-text:focus {
        outline: none;
        border: .125rem solid $primaryLinkColor;
    }
    &__count {
        @include subheader;
        margin: 0 1rem
    }
    &__label {
        @include label-text;
        text-transform: uppercase;
    }
    &__like-delete {
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;
        margin: 0 1.5rem;
    }
    &__like-button, &__delete-button {
        max-height: 1.5rem;
    }
    &__like-button:hover, &__delete-button:hover {
        cursor: pointer;
    }
}
@media (min-width: 48rem) {
    .comments {
        &__count {
            margin: 1rem 0;
            font-weight: 700;
        }
        &__form-container {
            margin-left: 1.125rem;
            padding: 0;
        }
        &__form {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0rem 1rem 0rem auto;
        }
        &__container {
            margin: 1rem 0;
            border-width: 2px;
        }
        &__article {
            border-width: .125rem;
        }
        &__label {
            width: 100%;
        }
        &__comment-text {
            height: 3rem;
            width: 70%;
        }
        &__button {
            margin: 0.2rem 0 0 auto;
        }
    }
}

@media (min-width: 80rem) {
    .comments {
        padding: 1rem 0;
        &__container {
            padding: 0;
        }
        &__count {
            @include subheader;
            padding-left: 1rem;
        }
    }
}

