$primaryTextColor: #323232;
$primaryLinkColor: #0095ff;
$labelColor: #afafaf;
$backgroundColor: #FFFFFF;
$videoComponentColor: #000000;
$hoverStateColor: #0065AD;
$dividerColor: #E1E1E1;
$formBackgroundColor: #FAFAFA;