@use '../../style/partials/colors.scss' as *;
@use '../../style/partials/fonts.scss' as *;

.videoLibrary {
    width: 100%;
    max-width: 35rem;
    display:flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    &__header {
        @include label-text;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__item {
        display: flex;
        gap: 1rem;
    }
    &__video {
        width: 35%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: .25rem;
    }
    &__text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
    }
    &__title {
        @include subheader;
    }
    &__author {
        @include body-text;
    }
}

@media (min-width: 48rem) {
    .videoLibrary {
        padding-left: 2rem;
        
        &__title {
            @include subheader; 
            font-size: 1.125rem;
        }
        &__author {
            @include body-text;
        }
    }
}

@media (min-width: 80rem) {
    .videoLibrary{
        padding-left: 2rem;
        width: 35%;
        border-left: .125rem solid $dividerColor;
    }
}
