@use '../../style/partials/colors.scss' as *;
@use '../../style/partials/fonts.scss' as *;

.videoLibrary {
    max-width: 28.125rem;
    display:flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    &__header {
        @include label-text;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__item {
        display: flex;
        gap: 1rem;
    }
    &__video {
        margin:auto;
        width: 14rem;
        height: 8rem;
        border-radius: .625rem;
        overflow: hidden;
        background-color:$dividerColor ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__title {
        @include subheader-mobile;
    }
    &__author {
        @include body-text-mobile;
    }
    &__video-img {
        aspect-ratio: 16/9;
        width: 100%;
        border-radius: .25rem;
        align-self: stretch;
    }
}

@media (min-width: 48rem) {
    .videoLibrary {
        padding-left: 2rem;
        &__video {
            width: 16rem;
            height: 8rem;
        }
        &__title {
            @include subheader; 
        }
        &__author {
            @include body-text;
        }
    }
}

@media (min-width: 80rem) {
    .videoLibrary{
        padding-left: 2rem;
        width: 35%;
        border-left: .125rem solid $dividerColor;
        &__video {
            height: 8rem;
        }
    }
}
