@use '../../style/partials/colors.scss' as *; 

.comments__avo {
    background-color: $labelColor;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}
.comments__avo-img {
    height: 100%;
    width: auto;
} 