@use '../../style/partials/colors.scss' as *; 

.avo-container {
    background-color: $dividerColor;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}
.avo-img {
    height: 100%;
    width: auto;
} 
