@use './style/partials/colors.scss' as *;
@use './style/partials/fonts.scss' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next';
}

@media (min-width: 80rem) {
    .main {
        display: flex;
        flex-wrap: wrap;
        max-width: 80rem;
        margin: auto;
    }
    .video-info {
        width: 65%
    }
    .description{
        width: 65%;
    }
}

a {
    text-decoration: none;
}

    
